.container{
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.background{
    background-image: url("../img/img_header-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 483px;
}
/*HEADER*/
.navbar{
    background-color: #1d2124;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    text-decoration: none;
}
.logo-background{
    background-color: #131619;
    padding: 11px;
}
.logo-text{
    padding-top: 13px;
    font-size: 22px;
    color: white;
}
.nav-menu{
    padding-top: 15px;
    text-transform: uppercase ;
}
.nav-text{
    text-decoration: none;
    margin-left: 25px;
    font-size: 15px;
    color: white;
}
.search{
    width: 50px;
    height: 50px;
    background-color: #131619;
    border: none;
    cursor: pointer;


}
.header{
    display: flex;
    justify-content: center;
    margin-top: 127px;
    font-size: 27px;
    color: white;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 44px;
    text-decoration: none;
}
.subscribe{
    width: 170px;
    height: 50px;
    background-color: #89ca62;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px 0 0 30px;
    color: white;
    margin-right: 20px;
}
.subscribe:hover{
    box-shadow: 8px 3px 16px 0 #536946ab;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}
.articles{
    width: 170px;
    height: 50px;
    background-color: #14b9d5;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px 0 0 30px;
    color: white;
}
.articles:hover{
    box-shadow: 8px 3px 16px 0 #536946ab;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

/*Most popular posts*/
.background-img{
    background-color: #f2f2f2;
}
.post{
    text-align: center;
    font-size: 27px;
    color: #40bfd5;
    padding: 30px 0 30px 0;
    font-weight: bold
}
.gallery{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}
.column{
    display: flex;
    flex-direction: column;
}
.text-for-gallery{
    padding: 15px 0 ;
}
.gallery-img{
    margin-bottom: 30px;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #353a3d;
    font-weight: bold;
}
.gallery-img:hover{
    box-shadow: 6px 4px 10px 0 rgba(0, 0, 0, 0.25);
}

/*HEADER BRANDS*/
.title{
    background-image: url("../img/img_parallax-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 483px;
}
.text-title{
    font-size: 32px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10%;
}

.text-title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    margin: 51px auto;

}
.brands{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    width: 1023px;
    margin: 0 auto;
}
.grid-box{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

/*TOP RATED*/
.top-rated-header{
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    color: #18b4cf;
    padding: 50px 0;
}
.img-top-rated{
    width: 100%;
}

/*HOT NEWS*/
.hot-hews{
    font-family: 'Open Sans', sans-serif;
}
.hot-news-header{
    margin: 50px auto;
    text-align: center;
    color: #18b4cf;
    font-size: 27px;
    text-transform: uppercase;
}
.hot-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    grid-column-gap: 60px;
    grid-row-gap: 42px;
}
.hotnews{
    text-decoration: none;
    color: #5b6469;
    background-color: #f9f7f7;
}
.right{
    text-align: right;
}
.hot-grid-prophecy {
    grid-column: 1/4;
    display: flex;
}
.hot-grid-western {
    grid-column: 1/3;
}
.hot-grid-grand {
    grid-column: 3/5;
}
.hot-grid-wanderlust {
    grid-column: 1/3;
}
.hot-grid-twin {
    grid-column: 3/5;
}
.hot-grid-prism {
}
.hot-grid-king {
    grid-column: 2/5;
    display: flex;
}
.text-link{
    margin: 20px;
}
.text-headline{
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0;
}
.text-grid{
    line-height: 30px;
    font-size: 14px;
}
/*FOOTER*/
.footer{
    width: 100%;
    height: 70px;
    background-color: #1d2124;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.text-footer{
    color: white;
    font-size: 13px;
}
.position-logo{
    margin: 25px;
}
.logo-footer{
    text-decoration: none;
}

